*{
    font-family: Arial,Helvetica, sans-serif;
    font-size: 16px;
    
}

body{
    background-color: #000000f6;

}

main{
    background-color: rgb(255, 255, 255);
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px rgb(214, 81, 208)
}

img.lado{
    float: center;
}

